<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animated</key>
	<array>
		<string>CatHeart.gif</string>
		<string>Dragonfly.gif</string>
		<string>Elephant.gif</string>
		<string>Gautama2.gif</string>
		<string>HamsaHand2.gif</string>
		<string>LotusFrog.gif</string>
		<string>MonkeyBuddha.gif</string>
		<string>PeacePup2.gif</string>
		<string>TreeofLife.gif</string>
	</array>
	<key>Panda</key>
	<array>
		<string>panda1.png</string>
		<string>panda2.png</string>
		<string>panda3.png</string>
		<string>panda4.png</string>
		<string>panda5.png</string>
		<string>panda6.png</string>
		<string>panda7.png</string>
		<string>panda8.png</string>
	</array>
	<key>Text</key>
	<array>
		<string>Text1.png</string>
		<string>Text2.png</string>
		<string>Text3.png</string>
		<string>Text4.png</string>
		<string>Text5.png</string>
		<string>Text6.png</string>
		<string>Text7.png</string>
		<string>Text8.png</string>
		<string>Text9.png</string>
		<string>Text10.png</string>
		<string>Text11.png</string>
		<string>Text12.png</string>
		<string>Text13.png</string>
		<string>Text14.png</string>
	</array>
	<key>Static</key>
	<array>
		<string>Static1.png</string>
		<string>Static2.png</string>
		<string>Static3.png</string>
		<string>Static4.png</string>
		<string>Static5.png</string>
		<string>Static6.png</string>
		<string>Static7.png</string>
		<string>Static8.png</string>
		<string>Static9.png</string>
		<string>Static10.png</string>
		<string>Static11.png</string>
		<string>Static12.png</string>
		<string>Static13.png</string>
		<string>Static14.png</string>
		<string>Static15.png</string>
		<string>Static16.png</string>
		<string>Static17.png</string>
	</array>
	<key>Favorite</key>
	<array/>
</dict>
</plist>
